/* general styles */

.m-1 {
    margin: 0.5rem;
}
.m-2 {
    margin: 1rem;
}
.mt-3 {
    margin-top: 2rem;
}
.mb-2 {
    margin-bottom: 1rem;
}
.mx-1 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.p-1 {
    padding: 0.5rem;
}
.p-2 {
    padding: 1rem;
}

.py-1 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.py-2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.gap-y-1>*:not(:first-child) {
    margin-top: 0.5rem;
}
.gap-y-2>*:not(:first-child) {
    margin-top: 1rem;
}

.gap-x-1>*:not(:first-child) {
    margin-left: 0.5rem;
}

.text-grey {
    color: mix(@theme_text_color, @borders, 0.85);
}

.text-primary {
    color: alpha(@theme_selected_bg_color, 0.8);
}

.rounded {
    border-radius: 8px;
}

.border-t-1 {
    border-top-width: 1px;
    border-style: solid;
    border-color: alpha(@borders, 0.7);
}

.border-l-1 {
    border-left-width: 1px;
    border-style: solid;
    border-color: alpha(@borders, 0.7);
}

.border-r-1 {
    border-right-width: 1px;
    border-style: solid;
    border-color: alpha(@borders, 0.7);
}

.border-b-1 {
    border-bottom-width: 1px;
    border-style: solid;
    border-color: alpha(@borders, 0.7);
}

/* domain styles */

.cell {
    transition: background-color 200ms;
    padding: 4px;
}
.cell:hover {
    background-color: alpha(currentColor, 0.1);
}
.cell-other {
    background-color: mix(@theme_unfocused_fg_color, @theme_unfocused_bg_color, 0.95);
}
.cell-selected, .cell-selected:hover {
    background-color: alpha(@theme_selected_bg_color, 0.5);
}
.cell-current {
    background-color: alpha(@theme_unfocused_selected_bg_color, 0.2);
}
.calendar-color-red {
    background-color: #CA1919;
}
.calendar-color-green {
    background-color: #0C851C;
}
.calendar-color-blue {
    background-color: #1164CF;
}
.calendar-color-orange {
    background-color: #B36519;
}
.calendar-color-black {
    background-color: #0E403D;
}
.byday-button {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.event-row .subtitle {
    line-height: 1.1;
}
.day-label {
    font-size: 1.75rem;
    font-weight: 750;
}
/* old styles */

/* .month-cell-header {
    padding: 8px;
    font-weight: 700;
}
.month-cell {
    transition: background-color 200ms;
    padding: 4px;
}
.day-number {
    font-size: 2rem;
    font-weight: 800;
    color: alpha(@theme_text_color, 0.20);
}
.month-cell-other {
    background-color: mix(@theme_unfocused_fg_color, @theme_unfocused_bg_color, 0.95);
}
.month-cell:hover {
    background-color: alpha(currentColor, 0.1);
}
.month-cell-current .day-number {
    color: alpha(@theme_unfocused_selected_bg_color, 1);
}
.month-cell-selected, .month-cell-selected:hover {
    background-color: alpha(@theme_selected_bg_color, 0.5);
}
.month-cell-selected .day-number {
    color: alpha(@theme_text_color, 0.5);
}
.event-tag {
    font-weight: 600;
    background-color: @theme_unfocused_fg_color;
    color: @theme_unfocused_bg_color;
    border-radius: 8px;
    font-size: small;
}

.week-cell-header {
    font-weight: 700;
}
.week-cell.week-cell-header-top {
    border-top-width: 0;
}
.week-cell.week-cell-header-left {
    border-left-width: 0;
}
.week-cell {
    border: solid 2px alpha(@borders, 0.7);
    border-width: 2px 0 0 2px;
}
.week-cell-full {
    border-top-color: alpha(@borders, 0.3);
    border-top-style: dashed;
}
.week-cell:hover {
    background-color: alpha(currentColor, 0.1);
}


.form {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
}
.form>*:not(:first-child) {
    margin-top: 1rem;
} */